:root {
  --neutral-1: #ffffff;
  --neutral-2: #edf0f4;
  --neutral-3: #c9d3dd;
  --neutral-4: #9fafc1;
  --neutral-5: #3b4754;
  --neutral-6: #29323d;
  --neutral-7: #232323;
}

@font-face {
  font-family: "AlianzaScript600";
  src: url("../font/AlianzaScript600.ttf") format("truetype");
  /* You can also include other font formats (e.g., woff, woff2) for better browser compatibility */
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  height: 1660px;
  width: 100%;
  box-sizing: border-box;
}

nav {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 20px 150px;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  border-bottom: 2.5px solid var(--neutral-2, #edf0f4);
  background: var(--neutral-1, #fff);
}

nav .logo {
  color: var(--neutral-6, #29323d);
  font-family: "AlianzaScript600", Helvetica;
  font-size: 24px;
  font-weight: 600;
}

nav .menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: var(--neutral-7, #232323);
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
}

.menu .first-menu {
  display: flex;
  padding: 8px 29px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid var(--neutral-7, #232323);
  background: var(--neutral-1, #fff);
}

.menu .mid-menu {
  display: flex;
  padding: 8px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--neutral-7, #232323);
  background: var(--neutral-1, #fff);
  margin: 0 -1px;
}

.menu .last-menu {
  display: flex;
  padding: 8px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 0px 5px 6px 0px;
  border: 1px solid var(--neutral-7, #232323);
  background: var(--neutral-1, #fff);
}

#home {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#home .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
}

.title h1 {
  color: var(--neutral-6, #29323d);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.title p {
  color: var(--neutral-4, #9fafc1);
  font-size: 24px;
  font-weight: 400;
}

#home .top {
  display: flex;
  align-items: flex-start;
  gap: 43px;
  margin: 0 auto;
  margin-top: 50px;
}

.top .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 51px;
  border-radius: 5px;
}

.top .right {
  width: 479px;
  height: 780px;
  border-radius: 5px;
  background: var(--neutral-2, #edf0f4);
}

.left .img {
  width: 601px;
  height: 400px;
  border-radius: 5px;
  background: var(--neutral-2, #edf0f4);
}

.left .quotes {
  color: var(--neutral-4, #9fafc1);
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
}

.left .author {
  display: flex;
  align-items: center;
  gap: 25px;
}

.author .author-img {
  width: 63px;
  height: 63px;
  flex-shrink: 0;
}

.author .identity {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.author .identity h3 {
  color: var(--neutral-6, #29323d);
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.author .identity p {
  color: var(--neutral-4, #9fafc1);
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}

.left .line {
  width: 148px;
  height: 4px;
  background: var(--neutral-2, #edf0f4);
}

.right .title {
  display: flex;
  width: 313px;
  flex-direction: column;
  text-align: center;
}

.right .title h3 {
  color: var(--neutral-6, #29323d);
  font-size: 30px;
  font-weight: 600;
}

.right .title p {
  color: var(--neutral-4, #9fafc1);
  font-size: 18px;
  font-weight: 400;
}

.right form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  padding: 40px;
}

.right form .fg {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 11px;
}

.right form .fg label {
  color: var(--neutral-6, #29323d);
  font-size: 20px;
  font-weight: 600;
}

.right form .fg input {
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 3px solid var(--neutral-4, #9fafc1);
  background: var(--neutral-1, #fff);
  color: var(--neutral-6);
  font-size: 22px;
  font-weight: 400;
  padding: 0 10px;
  box-sizing: border-box;
}

.right form button {
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
  background: var(--neutral-6, #29323d);
  height: 70px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
